SKIP_PREFLIGHT_CHECK=true

REACT_APP_BASE_URL=http://localhost:8000
# REACT_APP_BASE_URL=https://agco360.uqcloud.net

# Enable aspects of the view (All true|false)
REACT_APP_ENABLE_TIMELINE=false
REACT_APP_ENABLE_ROTATION=true
REACT_APP_ENABLE_MEDIA=false
REACT_APP_ENABLE_FAQ=false
REACT_APP_ENABLE_DOCUMENTATION=false
REACT_APP_ENABLE_ABOUT=false
REACT_APP_ENABLE_FLOORS=false
REACT_APP_ENABLE_ANIMATIONS=true

# Declination to map Nort (radians): E ==> 0, N ==> -PI/2, etc
REACT_APP_ROTATION_OFFSET=1.5707963267948966

#REACT_APP_TITLE=Agricultural Cooridoor
REACT_APP_TITLE=Boomaroo Nurseries
REACT_APP_SUBTITLE=Boomaroo Nurseries

# Marzipano view options (drag|qtvr)
REACT_APP_MARZIPANO_MOUSE_VIEW_MODE=drag

# Side navigation logo and subtitle urls
REACT_APP_SIDENAV_LOGO=https://picsum.photos/20/20
REACT_APP_SIDENAV_SUBTITLE=https://picsum.photos/20/20

# UQ logo in top lefthand corner
REACT_APP_UQ_LOGO=https://stluc.manta.uqcloud.net/elipse/public/PRISM/agco360/uq_logo.png

# Animation video link url and title
REACT_APP_ANIMATION=NA
REACT_APP_ANIMATION_TITLE=NA

# Minimap image
REACT_APP_MINIMAP_IMAGE=https://stluc.manta.uqcloud.net/elipse/public/PRISM/agco360/boomaroo.seedling-farm.20211116/plan.jpg
REACT_APP_MINIMAP_IMAGE_LARGE=https://stluc.manta.uqcloud.net/elipse/public/PRISM/agco360/boomaroo.seedling-farm.20211116/plan.jpg

# Minimap offsets
REACT_APP_X_PIXEL_OFFSET=0.0
REACT_APP_Y_PIXEL_OFFSET=0.0
REACT_APP_X_SCALE=1
REACT_APP_Y_SCALE=1
REACT_APP_IMG_WIDTH=1310
REACT_APP_IMG_HEIGHT=1229
REACT_APP_XY_FLIPPED=false

# Intitial View 
REACT_APP_INITIAL_DATE='2021-11-16T00:00:00.000+10:00'
REACT_APP_INITIAL_FLOOR=0
REACT_APP_INITIAL_PANO_ID='0_entry'
REACT_APP_INITIAL_YAW=0.0
REACT_APP_INITIAL_PITCH=0.0
REACT_APP_INITIAL_FOV=0.0

# Array of numbers corresponding to each of the floors
REACT_APP_FLOORS=0

# Background image
REACT_APP_BACKGROUND_IMAGE=https://stluc.manta.uqcloud.net/elipse/public/PRISM/agco360/boomaroo.seedling-farm.20211116/cover.png

#Prism logo image
REACT_APP_PRISM_LOGO=https://stluc.manta.uqcloud.net/elipse/public/PRISM/agco360/favicon.ico
