# Ignore all files in the build directory
/build/

# Ignore all test files
**/*.test.js

# Ignore all JavaScript files in the scripts directory
/scripts/*.js

# Ignore specific file
src/someSpecialFile.js
