@import "./variables.scss";

.marzipano-info-container {
  position: absolute;
  left: 6rem;
  top: 1.125rem;
  margin-left: 1.5em;
  z-index: 2;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;

  line-height: 1em;
  padding: 0em 2em;
  color: #fff;
  font-size: 1rem;
  font-family: "Lexend Deca", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.marzipano-info {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.25em 1em;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
}

.show-marzipano-info-btn {
  padding: 0.5em 1em;
  color: #fff;
  cursor: pointer;
  padding: 0.45em;
  font-size: 1em;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
  font-weight: 800;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.show-marzipano-info-btn > label {
  cursor: pointer;
  margin-left: 0.5rem;
}
