@import "./_variables.scss";

.scene_preview {
  width: calc(100% - 2em);
  padding: 10px;
}

.previewTable {
  display: flex;
  flex-direction: column;
  background-color: $background;
  border: 1px solid $prismPrimary;
  border-radius: 10px;
}

.header {
  font-weight: bold;
  background-color: $prismPrimary;
  color: white;
}

.previewRow {
  display: flex;
  width: auto;
  clear: both;
  border-top: 1px solid $prismPrimary;
  flex-direction: row;
  justify-content: space-evenly;
}

.previewCell {
  padding: 5px;
  float: left;
  display: table-column;
  flex-grow: 1;
  flex-basis: 25%;
}
